// Place all the styles related to the everythings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.rsvp_form{
	background-color: #F8F8FF;
	width:600px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: 2px 2px 3px #888888;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.428571429;
color: #333333;
}